{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Produtos</h2>
    <ul>
        {% for produto in produtos %}
            <li>
                {{ produto.nome }} -
                <a href="{{ url_for('show_product', id=produto.id) }}">Exibir</a> |
                <a href="{{ url_for('edit_product', id=produto.id) }}">Editar</a> |
                <a href="{{ url_for('delete_product', id=produto.id) }}">Deletar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
